body {
  width: 1440px;
  height: 1024px;
  margin: auto;
  padding: 100px;
  background: #ffffff;
}
/* body {
  width: 1024px;
   height: 1024px;
  margin: auto;
  background: #ffffff;
} */

.m-body {
  width: 100%;
}

/* Start Manu Bar part */
.menu-bar {
  width: 285px;
  height: 1024px;
  /* left: 0px;
  top: 0px; */
  background: #19b000;
  float: left;
}

.my-img {
  width: 235px;
  height: 235px;
  top: 100px;
  margin: auto;
  margin-top: 50px;
  background: #ffffff;
  border-radius: 50%;
}
/* End Manu Bar part */
/* Start main body part */
.main-body {
  width: 1155px;
  /* height: 1024px; */
  background: red;
  float: right;
}
/* .main-body {
  position: absolute;
  width: 748px;
  height: 561px;
  left: 692px;
  top: 463px;
  background: url(images/Web-developer.gif);
} */

.mbody-text {
  background: green;
  position: absolute;
  margin-top: 343px;
  margin-left: 74px;
  z-index: 50;
}
.main-body h1 {
  /* text-align: center; */
  font-weight: bold;
  font-size: 70px;
}

.main-body p {
  /* text-align: center; */
  font-size: 50px;
}
.main-body img {
  width: 748px;
  height: 561px;
  position: relative;
  margin-top: 462px;
  margin-left: 456px;
  z-index: 1;
}
/* End main body part */
