body {
  margin: 0;
  padding: 0;
  background: #a1c0a6;
}

.m-body {
  width: 1024px;
  margin: auto;
}

/* Start Manu Bar part */
.menu-bar {
  width: 194px;
  height: 1024px;
  /* left: 0px;
  top: 0px; */
  background: #19b000;
  float: left;
  position: fixed;
}

.my-img {
  width: 143px;
  height: 143px;
  top: 44px;
  margin: auto;
  margin-top: 50px;
  background: #ffffff;
  border-radius: 50%;
}

.menu-text {
  margin-top: 90px;
}

.menu-text li {
  list-style: none;
  margin-bottom: 20px;
}

.menu-text li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 28px;
  color: #ffffff;
}

/* End Manu Bar part */
/* Start main body part */
.main-body {
  position: relative;
  width: 830px;
  height: 728px;
  /* height: 1024px; */
  background: white;
  float: right;
  position: z;
  border-bottom: 5px solid green;
}
/* .main-body {
  position: absolute;
  width: 748px;
  height: 561px;
  left: 692px;
  top: 463px;
  background: url(images/Web-developer.gif);
} */

.mbody-text {
  background: ;
  position: absolute;
  margin-top: 256px;
  margin-left: 76px;
  z-index: 50;
}

.main-body h1 {
  font-weight: bold;
  font-size: 41px;
  color: #19b000;
}

.main-body p {
  font-size: 28px;
}
.main-body img {
  width: 502px;
  height: 341px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
/* End main body part */
