body {
  margin: 0;
  padding: 0;
  background: #a1c0a6;
}

.m-body {
  width: 1024px;
  margin: auto;
}

/* Start Manu Bar part */
.menu-bar {
  width: 194px;
  height: 100%;
  /* left: 0px;
  top: 0px; */
  background: #19b000;
  float: left;
  position: fixed;
  align-items: center;
}

/* .my-img {
  width: 143px;
  height: 143px;
  top: 44px;
  margin: auto;
  margin-top: 50px;
  background: #ffffff;
  border-radius: 50%;
} */

.my-img img {
  width: 143px;
  height: 143px;
  margin: 25px;
  margin-top: 35px;
  border-radius: 50%;
  border: 5px solid rgb(0, 165, 0);
}

.menu-text {
  margin-top: 30px;
}

.menu-text li {
  list-style: none;
  margin-bottom: 20px;
}

.menu-text li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 28px;
  color: #ffffff;
}

/* End Manu Bar part */
/* Start main body part */

/* main body type part */
:root {
  /* --bg-color: hsl(49 37% 94%); */
  --typewriterSpeed: 3s;
  --typewriterCharacters: 15;
}

body1 {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  background: var(--bg-color);
}

.h1a {
  font-size: clap(1rm, 3vw + 1rm, 4rem);
  position: relative;
  /*outline: 2px solid red;*/
  width: max-content;
}

.h1a::before,
.h1a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.h1a::before {
  background: white;
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}
.h1a::after {
  width: 0.125em;
  background: black;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

.subtitle {
  color: hs1(0 0% 0% /0.7);
  font-size: 1.5rem;
  font-weight: 400;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* main body type part */

.main-body {
  position: relative;
  width: 830px;
  height: 680px;
  /* height: 1024px; */
  background: white;
  float: right;
  position: z;
  border-bottom: 5px solid green;
}
.mb-none {
  border-bottom: none;
}
footer {
  position: relative;
  width: 830px;
  height: 40px;
  background: black;
  color: white;
  float: right;
  text-align: center;
  padding-top: 20px;
  position: z;
}
/* .main-body {
  position: absolute;
  width: 748px;
  height: 561px;
  left: 692px;
  top: 463px;
  background: url(images/Web-developer.gif);
} */

.mbody-text {
  background: ;
  position: absolute;
  margin-top: 212px;
  margin-left: 76px;
  z-index: 50;
}

.main-body h1 {
  font-weight: bold;
  font-size: 41px;
  color: #19b000;
}

.main-body p {
  font-size: 28px;
}
.main-body img {
  width: 502px;
  height: 341px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  filter: ;
}
/* End main body part */
